
<table class="tabela">

  <thead class="tabela__cabecalho">

    <th class="conteudo">Data</th>
    <th class="conteudo">Valor</th>
    <th class="conteudo">Destino</th>

  </thead>

  <tbody class="tabela__linha">

    <!-- Exibir uma lista de dados através da diretiva *ngFor -->

    <tr class="tabela__linha" *ngFor="let transferencia of transferencias">

      <!-- Para usar um modelo de data ,só olhar no site do angula e pesquisar DatePipe ,exemplo: short -->
      <!-- Para deichar a data em português só olhar no site do angula e pesquisar LOCALE_ID ,a alteração vais ser feita na pasta app module-->

      <td class="conteudo2">{{ transferencia.data  | date:'short'}}</td>
      <td class="conteudo2">{{ transferencia.valor | currency }}</td>
      <td class="conteudo2">{{ transferencia.destino }}</td>

    </tr>

  </tbody>

</table>





<!-- FORMA BASICA -->
<!-- <div *ngFor="let transferencia of  transferencias">

  <p> Data: {{transferencia?.data}}</p>
  <p> Valor: {{transferencia?.valor}}</p>
  <p> Destino: {{transferencia?.destino}}</p>

</div> -->

<!-- FORMA SIMPLES MENOS VERBOSA -->
<!-- USAMOS A INTEROGAÇÃO PARA NÃO QUEBRAR O CODIGO -->

<!--
   <p> Valor: {{transferencias?.valor}}</p>
  <p> Destino: {{transferencias?.destino}}</p>
-->



<!--

  <~ FORMA ROBUSTA ~>

  <p> Valor: {{valor}}</p>
  <p> Destino: {{destino}}</p>

 -->
