<section class="container">

  <form class="formulario" (ngSubmit)="transferir()">

    <h2 class="titulo">Nova Transferéncia</h2>

    <div class="form-field ">

        <label class="label" for="valor">Valor</label>
        <input  class="input" id="valor" type="text">

    </div>

    <div class="form-field ">

        <label class="label" for="Destino">Destino</label>
        <input  class="input" id="Destino" type="text">

    </div>

    <div class="botao-wrapper ">

      <button class="botao " type="submit">Transferir</button>

    </div>

  </form>

</section>

