<section class="container">

  <form class="formulario" (ngSubmit)="transferir()">

    <h2 class="titulo">Nova Transferéncia</h2>

    <div class="form-field ">

      <label class="label" for="valor">Valor</label>
      <input class="input" id="valor" type="text" [(ngModel)]="valor" name="valor" />
      <!-- ngModel e uma diretiva ,atraves dele conseguimos passar o valor que ta no tenpleite para a class-->
      <!--  ngModel só ele sem conchetes e usado quando vc quer usar so string ,para usar variavel usamos ele  dentro de [()] isso se chama Two-way data binding-->
      <!--  [(ngModel)] isso se chama com ele o valor inicial pode ser alterado -->


    </div>

    <div class="form-field ">

      <!-- []  property binding usamos ele quando queremos que o valor inicial do console permanesa -->
      <!-- [()] Two-way data binding isso se chama com ele o valor inicial pode ser alterado -->
      <!-- <input  class="input" id="Destino" type="text" [ngModel]="destino" name="destino"> -->

      <label class="label" for="Destino">Destino</label>
      <input class="input" id="Destino" type="text" [(ngModel)]="destino" name="destino">

    </div>

    <div class="botao-wrapper ">

      <button class="botao " type="submit">Transferir</button>

    </div>

  </form>

</section>
